---
// Components
import { Image } from "astro:assets";

// Content
import Drone1 from "@assets/images/drone-shot.jpg";
import Drone2 from "@assets/images/drone-shot-2.jpg";
import Copper from "@assets/images/copper-roof.jpg";
import Tile from "@assets/images/tile-roof.jpg";
import Workers from "@assets/images/workers-on-roof.jpg";
import Plywood from "@assets/images/plywood-replace.jpg";
import Crew from "@assets/images/crew-out-front.jpg";
import TopDown from "@assets/images/top-down.jpg";
import TileClose from "@assets/images/tile-roof-closeup.jpg";
---

<div class="my-16 columns-1 gap-4 sm:columns-2 md:columns-2">
  <Image src={Copper} alt="Copper roof" width="550" class="mb-4 rounded-lg" />

  <Image
    src={Drone1}
    alt="Roof shingles from above"
    width="550"
    class="mb-4 rounded-lg"
  />

  <Image
    src={Drone2}
    alt="Roof shingles from above"
    width="550"
    class="mb-4 rounded-lg"
  />

  <Image
    src={Crew}
    alt="Colorado Springs Roofing Crew"
    width="550"
    class="mb-4 rounded-lg"
  />

  <Image
    src={Tile}
    alt="Roof shingles from above"
    width="550"
    class="mb-4 rounded-lg"
  />

  <Image
    src={TileClose}
    alt="Tile shingle roof closeup"
    width="550"
    class="mb-4 rounded-lg"
  />

  <Image
    src={TopDown}
    alt="Roof shingles from above"
    width="550"
    class="mb-4 rounded-lg"
  />

  <Image
    src={Workers}
    alt="Colorado Springs roofers crew"
    width="550"
    class="mb-4 rounded-lg"
  />

  <Image
    src={Plywood}
    alt="Roof shingles from above"
    width="550"
    class="mb-4 rounded-lg"
  />
</div>
