---
// Layout
import BaseLayout from "@layouts/BaseLayout.astro";

// Components
import ServiceCard from "@components/ui/ServiceCard.astro";

// Content
import Replacement from "@assets/images/new-builds.jpg";
import Repairs from "@assets/images/top-down.jpg";
import Windows from "@assets/images/tile-roof-closeup.jpg";
import Siding from "@assets/images/needs-siding.jpg";
import Painting from "@assets/images/roof2.jpg";
import Gutters from "@assets/images/gutters.jpg";
---

<BaseLayout
  title="Roofing Services"
  description="We provide all roofing services in the Colorado Springs and front range area">
  <div class="container prose-xl mx-auto my-12 max-w-5xl px-4 text-center">
    <h1>Our Services</h1>
    <p>
      We can handle all roofing and home exterior repairs in the Colorado
      Springs and Front Range areas.
    </p>
    <p>
      If your roof, siding, windows, or gutters were damaged by wind, hail, or
      any of our Colorado Springs storms, we can get your home looking better
      than new.
    </p>
  </div>
  <div role="list" class="my-12 flex flex-wrap justify-center gap-10">
    <ServiceCard
      src={Replacement}
      alt="Roof replacement in colorado"
      title="Roof Replacements"
      topper="Install"
      text="We can finish most residential roof replacements in a day."
      width={420}
    />
    <ServiceCard
      src={Repairs}
      alt="Roof repairs"
      title="Roof Repairs"
      topper="Repair"
      text="You may not need a new roof. Sometimes a repair can solve your problem."
      width={420}
    />
    <ServiceCard
      src={Windows}
      alt="Roof repairs"
      title="Window Replacement"
      topper="Exterior"
      text="Windows damaged by hail or storms? We can replace any windows or glass doors."
      width={420}
    />
    <ServiceCard
      src={Gutters}
      alt="Gutters"
      title="Gutters"
      topper="Install"
      text="We can replace or install gutters to shed water away from your foundation"
      width={420}
    />
    <ServiceCard
      src={Painting}
      alt="Painting"
      title="Painting"
      topper="Exterior"
      text="We can color match your exterior for touch-ups and repairs or repaint your entire exterior"
      width={420}
    />
    <ServiceCard
      src={Siding}
      alt="Siding"
      title="Siding"
      topper="Exterior"
      text="If your siding is damaged by hail, water, or is worn by the sun, we can repair or replace your siding and match the paint to look as good as new."
      width={420}
    />
  </div>
  <div
    class="container prose-lg mx-4 my-12 rounded-2xl bg-primary p-12 text-white">
    <h2>We install all types of roof materials</h2>
    <p>
      We can replace your roof with a near identical match of color and
      material. If you're interested in another roof material, we can help give
      you the advice you need to make the right choice for your home.
    </p>
    <ul class="list-disc *:my-0">
      <li>Composition (Asphalt) Shingle Roofs</li>
      <li>Slate Roofs</li>
      <li>Metal Roofs</li>
      <li>Clay Roofs</li>
      <li>Copper Roofs</li>
      <li>Shake Roofs</li>
      <li>Wood Roofs</li>
      <li>High-impact Resistant Roofs</li>
      <li>Tile Roofs</li>
    </ul>
  </div>
</BaseLayout>
