---
// Components
import Image from "astro/components/Image.astro";

// Consts
// interface Props {
//   alt: string;
//   src: string;
//   text: string;
//   title: string;
//   topper?: string;
//   width?: number;
// }

const { src, alt, width, topper, title, text, link } = Astro.props;
---

{
  link ? (
    <li class="list-none md:w-[45%] lg:w-[30%]">
      <a
        href="/services"
        class="flex flex-col items-center *:transition-colors *:hover:bg-secondary *:hover:dark:bg-yellow-900 ">
        <Image src={src} alt={alt} width={width} class="mb-0 rounded-xl" />
        <div class="relative z-10 mx-6 -mt-12 block flex-grow rounded-xl bg-zinc-200 p-10 dark:bg-zinc-800">
          {topper && <span class="font-space mt-0 text-primary">{topper}</span>}
          <h3 class="mt-0 text-2xl font-bold">{title}</h3>
          <p>{text}</p>
        </div>
      </a>
    </li>
  ) : (
    <li class="list-none md:w-[45%] lg:w-[30%]">
      <div class="flex flex-col items-center">
        <Image src={src} alt={alt} width={width} class="mb-0 rounded-xl" />
        <div class="relative z-10 mx-6 -mt-12 block flex-grow rounded-xl bg-zinc-200 p-10 dark:bg-zinc-800">
          {topper && <span class="font-space mt-0 text-primary">{topper}</span>}
          <h3 class="mt-0 text-2xl font-bold">{title}</h3>
          <p>{text}</p>
        </div>
      </div>
    </li>
  )
}
